.calculatrice
{
        width:300px;
        height:230px;
        background-color:#eeeeee;
        border:2px solid #CCCCCC;
        margin:auto;
        padding-left:5px;
        padding-bottom:5px;
}
.choix{
        margin-left: 10px;
}

.calc_button1
{
        font-size:50px;
}
.calc_button2
{
        font-size:50px;
}
.calc_button3
{
        font-size:50px;
}
.calc_button4
{
        font-size:50px;
}